@font-face {
    font-family: 'Montserrat-Light';
    src: 
        url('/fonts/Montserrat-Light.ttf') format('truetype'),
        url('/fonts/Montserrat-Light.woff') format('woff'),
        url('/fonts/Montserrat-Light.woff2') format('woff2')
    ;
}

.wrapper {
    display: block;
    height: auto;
    font-family: 'Montserrat-Light';
}

.section-title {
    width: 100%;
    background-color: #27384C;
    color: white;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.company-title {
    font-weight: bold;
    padding-top: 4%;
    padding-bottom: 4%;
}

.education-title {
    font-weight: bold;
}

div.education-info > p {
    margin-bottom: 0 !important;
}

div.company-title > p {
    margin-bottom: 0 !important;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

#experience {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.avatar-img {
    width: 300px;
    height: 300px;
    border: 5px solid;
    border-radius: 300px;
    border-color: #1F3A68;
}

@media screen and (min-width: 1400px) {
    .avatar-img {
        width: 300px !important;
        height: 300px !important;
        border-radius: 300px !important;
    }    
}

@media screen and (max-width: 1400px) {
    .avatar-img {
        width: 150px !important;
        height: 150px !important;
        border-radius: 150px !important;
    }    
}

@media screen and (max-width: 768px) {
    .avatar-img {
        width: 75px !important;
        height: 75px !important;
        border-radius: 75px !important;
    }
}
